In [24]:
import findspark
findspark.init("C:/spark")
import random
from time import time
import numpy as np
import pandas as pd
from operator import add

In [44]:
from pyspark import SparkContext
from pyspark.sql import SparkSession, SparkConf
import pyspark.sql.functions as F

spark=SparkSession.builder\
                .master("local[*]")\
                .appName("walmart_stock")\
                .getOrCreate()

ImportError: cannot import name 'SparkConf' from 'pyspark.sql' (C:\Users\emman\anaconda3\lib\site-packages\pyspark\sql\__init__.py)

In [45]:
from pyspark.sql.functions import *

import from pyspark.sql.types

SyntaxError: invalid syntax (<ipython-input-45-6972a37a2301>, line 3)

In [30]:
####Importation du fichier
data=spark.read\
    .option("header", True)\
    .csv("C:/Users/emman/Desktop/walmart_stock.csv")
data.show()

+----------+------------------+------------------+------------------+------------------+--------+------------------+
|      Date|              Open|              High|               Low|             Close|  Volume|         Adj Close|
+----------+------------------+------------------+------------------+------------------+--------+------------------+
|2012-01-03|         59.970001|         61.060001|         59.869999|         60.330002|12668800|52.619234999999996|
|2012-01-04|60.209998999999996|         60.349998|         59.470001|59.709998999999996| 9593300|         52.078475|
|2012-01-05|         59.349998|         59.619999|         58.369999|         59.419998|12768200|         51.825539|
|2012-01-06|         59.419998|         59.450001|         58.869999|              59.0| 8069400|          51.45922|
|2012-01-09|         59.029999|         59.549999|         58.919998|             59.18| 6679300|51.616215000000004|
|2012-01-10|             59.43|59.709998999999996|             58.98|59.040001000000004| 6907300|         51.494109|
|2012-01-11|         59.060001|         59.529999|59.040001000000004|         59.400002| 6365600|         51.808098|
|2012-01-12|59.790001000000004|              60.0|         59.400002|              59.5| 7236400|51.895315999999994|
|2012-01-13|             59.18|59.610001000000004|59.009997999999996|59.540001000000004| 7729300|51.930203999999996|
|2012-01-17|         59.869999|60.110001000000004|             59.52|         59.849998| 8500000|         52.200581|
|2012-01-18|59.790001000000004|         60.029999|         59.650002|60.009997999999996| 5911400|         52.340131|
|2012-01-19|             59.93|             60.73|             59.75|60.610001000000004| 9234600|         52.863447|
|2012-01-20|             60.75|             61.25|         60.669998|61.009997999999996|10378800|53.212320999999996|
|2012-01-23|         60.810001|             60.98|60.509997999999996|             60.91| 7134100|         53.125104|
|2012-01-24|             60.75|              62.0|             60.75|61.389998999999996| 7362800| 53.54375400000001|
|2012-01-25|             61.18|61.610001000000004|61.040001000000004|         61.470001| 5915800| 53.61353100000001|
|2012-01-26|         61.799999|             61.84|             60.77|         60.970001| 7436200|         53.177436|
|2012-01-27|60.860001000000004|         61.119999|60.540001000000004|60.709998999999996| 6287300|         52.950665|
|2012-01-30|         60.470001|             61.32|         60.349998|         61.299999| 7636900|53.465256999999994|
|2012-01-31|         61.529999|             61.57|         60.580002|61.360001000000004| 9761500|53.517590000000006|
+----------+------------------+------------------+------------------+------------------+--------+------------------+
only showing top 20 rows

In [31]:
###Question 3
####Noms des colonnes
data.columns

['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close']

In [32]:
###Question 4
###Type de données
data.printSchema()

root
 |-- Date: string (nullable = true)
 |-- Open: string (nullable = true)
 |-- High: string (nullable = true)
 |-- Low: string (nullable = true)
 |-- Close: string (nullable = true)
 |-- Volume: string (nullable = true)
 |-- Adj Close: string (nullable = true)

In [33]:
###Question 5
data2=df.withColumn("HV_ratio",col("High")/col("Volume"))
data2.show(5)

+----------+------------------+---------+---------+------------------+--------+------------------+--------------------+
|      Date|              Open|     High|      Low|             Close|  Volume|         Adj Close|            HV_ratio|
+----------+------------------+---------+---------+------------------+--------+------------------+--------------------+
|2012-01-03|         59.970001|61.060001|59.869999|         60.330002|12668800|52.619234999999996|4.819714653321546E-6|
|2012-01-04|60.209998999999996|60.349998|59.470001|59.709998999999996| 9593300|         52.078475|6.290848613094555E-6|
|2012-01-05|         59.349998|59.619999|58.369999|         59.419998|12768200|         51.825539|4.669412994783916E-6|
|2012-01-06|         59.419998|59.450001|58.869999|              59.0| 8069400|          51.45922|7.367338463826307E-6|
|2012-01-09|         59.029999|59.549999|58.919998|             59.18| 6679300|51.616215000000004|8.915604778943901E-6|
+----------+------------------+---------+---------+------------------+--------+------------------+--------------------+
only showing top 5 rows

In [34]:
###Question 6
data2.orderBy(col("High")\
      .desc())\
      .select(col("Date"))\
      .head(1)

[Row(Date='2015-01-13')]

In [35]:
data.createOrReplaceTempView("stock")

In [36]:
###Question 7
data2.select("Close").summary("mean").show()
spark.sql(""" SELECT AVG(Close) as AVG_Close FROM stock """).show()

+-------+-----------------+
|summary|            Close|
+-------+-----------------+
|   mean|72.38844998012726|
+-------+-----------------+

+-----------------+
|        AVG_Close|
+-----------------+
|72.38844998012726|
+-----------------+

In [37]:
###Question 8 Max et Min
data2.select("Volume").summary("min","max").show()
##Méthode Sql
spark.sql("""SELECT Min(Volume) as Min_Volume, Max(Volume) as Max_Volume FROM stock """)\
    .show()

+-------+--------+
|summary|  Volume|
+-------+--------+
|    min|10010500|
|    max| 9994400|
+-------+--------+

+----------+----------+
|Min_Volume|Max_Volume|
+----------+----------+
|  10010500|   9994400|
+----------+----------+

In [38]:
###Question 9
data2.filter(data2.Close<=60).count()
#methode SQL
spark.sql("""select Count(*) from stock where ( Close <= 60) """).show()

+--------+
|count(1)|
+--------+
|     116|
+--------+

In [40]:
###Question 10

spark.sql("""select sum(High>80/1258)*100 from stock """).show()

AnalysisException: cannot resolve 'sum((CAST(stock.`High` AS DOUBLE) > (CAST(80 AS DOUBLE) / CAST(1258 AS DOUBLE))))' due to data type mismatch: function sum requires numeric types, not boolean; line 1 pos 7;
'Aggregate [unresolvedalias((sum((cast(High#84 as double) > (cast(80 as double) / cast(1258 as double)))) * 100), None)]
+- SubqueryAlias stock
   +- Relation[Date#82,Open#83,High#84,Low#85,Close#86,Volume#87,Adj Close#88] csv

In [58]:
###Question 11
data2.orderBy(col("High").desc())\
       .filtercolunm("Date")=year\
       .head()

SyntaxError: can't assign to function call (<ipython-input-58-6d0d6b171736>, line 2)

In [51]:
###Question 12
spark.sql(select AVG(Close) as averageClose where )

SyntaxError: invalid syntax (<ipython-input-51-27d92d56760d>, line 2)